@import "tailwindcss";

@font-face {
    font-family: 'Minecraftia';
    src: url('./assets/fonts/Minecraftia-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-mc: "Minecraftia";
}

